.wl-colorscheme {
	--ci-color1: #2d3436;
	--ci-color2: #f8f8f8;
	--ci-color3: #c8c8c8;
	--ci-color4: #2f8d98;
}

body {
	color: var(--ci-color1);
	background-color: var(--ci-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.wl-notice {
	color: blue;
	font-size: 14px;
	font-style: italic;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}